{
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["react", "react-hooks", "prettier"],
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "arrowParens": "avoid"
      }
    ]
  }
}
