.filterGroup {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filterGroup label:first-child {
  text-align: right;
  flex-basis: 8rem;
}

.table tr th,
.table tr td {
  text-align: right;
}

.activeWeek {
  background-color: #50e3c2;
}

.activeLastYearWeek {
  background-color: #8affe6;
}
