.activity-overview {
  display: flex;
  padding-bottom: 0;
}

.activity-overview h1,
.activity-overview h2,
.activity-overview h3,
.activity-overview h4,
.activity-overview h5,
.activity-overview h6,
.activity-overview p {
  margin: 0;
}

.activity-overview ul,
.activity-overview ol {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 8px;
}

.activity-count .count-total {
  margin: 0;
  text-align: center;
}

.count-total .count {
  font-size: 72px;
  font-weight: 700;
  line-height: 88px;
}

.count-total .count-label {
  color: #99999e;
}

.text-footnote {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

/* calendar */

.activity-calendar {
  margin-right: 32px;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.activity-calendar table {
  border-collapse: collapse;
  margin: 0;
  max-width: 220px;
}

.activity-calendar thead tr {
  background: none;
}

.activity-calendar thead th {
  font-weight: normal;
  font-size: 14px;
  vertical-align: bottom;
}

.activity-calendar th,
.activity-calendar td {
  padding: 0;
  text-align: center;
  border: none;
}

.activity-calendar .weekday {
  height: 24px;
  margin-bottom: 10px;
}

.activity-calendar .day-wrapper {
  position: relative;
  height: 32px;
  width: 32px;
}

.activity-calendar .day {
  border-bottom: 2px solid #2d2d32;
  font-weight: bold;
  padding-bottom: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
  color: #2d2d32;
}

.activity-indicatior {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  transition: opacity 0.2s linear;
  height: 2px;
  width: 2px;
  background-color: #2d2d32;
}

.activity-indicatior.activity-indicatior--empty {
  background-color: #ababb3;
}

.activity-calendar .day-wrapper:hover .day {
  opacity: 1;
}

.activity-calendar .day-wrapper:hover .activity-indicatior {
  opacity: 0;
}

/* breakdown */

figure {
  margin: 0;
}

.activity-breakdown {
  min-width: 260px;
}

.activity-breakdown .legend {
  margin: 0 0 10px 0;
}

dt {
  color: #999;
  font-weight: 600;
  margin-top: 1.4em;
}

dt,
dd {
  line-height: 1.3em;
}

.activity-breakdown .legend dt,
.activity-breakdown .legend dd {
  display: inline-block;
}

.activity-breakdown .legend dt {
  position: relative;
}

.activity-breakdown .legend dd {
  margin: 0;
}

.vh,
.sr-only {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden;
  border: 0;
}

.activity-breakdown .week-breakdown {
  margin: 0;
}

.activity-breakdown .hours {
  display: flex;
  height: 16px;
  margin: 0 0 0 0;
  padding: 8px 0;
}

.activity-breakdown .hour-breakdown {
  display: flex;
}

.activity-breakdown .bar-graph {
  position: relative;
  box-sizing: border-box;
  float: left;
  border: 1px solid transparent;
  min-height: 1.2em;
  background-color: #e6e6e6;
  border-color: #c3c3c3;
}

.activity-breakdown .sport-breakdown {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 4px;
  padding: 4px 10px;
  background: #000;
  font-size: 10px;
  text-align: center;
  color: #fff;
  min-width: 70px;
  transition: opacity 0.2s linear, bottom 0.2s linear;
}

.activity-breakdown .hour-total {
  margin-left: 4px;
  line-height: 20px;
  font-size: 14px;
  white-space: nowrap;
}

abbr[title] {
  text-decoration: none;
  border-bottom: none;
  cursor: auto;
  border: 0;
  font-style: normal;
}
