html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fbfbfb;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

:root {
  --hr: grey;
  --darkText: rgb(8, 36, 42);
  --mediumText: rgb(80, 101, 105);
  --lightText: rgb(157, 168, 171);
}
